{% extends 'base.html.twig' %}

{% block title %}GESTION DE MON DEPOT {% endblock %}

{% block body %}
    <style>
    </style>
<div class="row">
    <div class="col-md-10 mx-auto">
        <br>
        <h1>{{ depot.depotit }}</h1>
        <br>
       <p>{{ depot.depoavis }}</p>
       <p>{{ depot.deporef }} . ->   Mail de correspondance :   {{ depot.depocorres }} </p>
       <p>créé le {{ depot.createdAt|date('d-m-Y') }} </p> 
        <p>modifié le {{ depot.updatedAt|date('d-m-Y') }} </p> 
        <br>
        <img src="{{ (depot.imageName ? vich_uploader_asset(depot) : asset('build/
        images/placeholder.jpg')) }} ">
        <br></br>
       <a href="{{ path('app_profile_depots_maj', {id: depot.id})}}">  mise à jour de mon dépôt</a>
       </br>
        <p>
       <form action="{{ path('app_profile_depots_supp',{id: depot.id}) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Suppression"> 
       </form> 
        </p>
        <br>
        <a href="{{ path('app_profile_depots_maliste')}}">retour gestion liste de vos dépôts</a><br>
        <br>
        <a href="{{ path('profile')}}">retour espace membre</a>
    </div>
</div>    
    {% endblock %}