{% extends 'base.html.twig' %}

{% block title %}MES DEPOTS{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>GESTION DE MES DEPOTS</h1>
    <br>
    </br>
    {% for depot in depots %}
    <div>
        {% if depot.user is same as app.user %}
            <h2><a href="{{ path('app_profile_depots_detail', {id: depot.id}) }}">{{ depot.depotit }} </a></h2>
            <p>créée le {{ depot.createdAt|date }} </p>
            <p>mise à jour le {{ depot.updatedAt|date }} </p> 
        {% endif %}
    </div>
    {% endfor %}
    <div>
        <h2><a href="{{ path('app_profile_depots_ajout') }}"> Ajout de Dépôt</a></h2>
        <p>  --------------        </p>
        <h2><a href="{{ path('profile')}}">retour espace membre</a></h2>
    </div>

{% endblock %}