{% extends 'base.html.twig' %}

{% block title %}METHACOOP Inscription{% endblock %}

{% block body %}
<h1>CREATION  DE COMPTE MEMBRE</h1>
    <div class="row">
        <div class="col-md-10 mx-auto">
            {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {label: 'entrez votre nom ou raison sociale  '}) }}
        {{ form_row(registrationForm.prenom, {label: 'entrez votre prénom ou numéro siret  '}) }}
        {{ form_row(registrationForm.numvoie, {label: 'entrez le numéro de voie de votre adresse  '}) }}
        {{ form_row(registrationForm.typvoie, {label: 'entrez le type de voie (avenue ou boulevard ou rue ou autre) de votre adresse  '}) }}
        {{ form_row(registrationForm.voienom, {label: 'entrez le nom de la voie de votre adresse  '}) }}
        {{ form_row(registrationForm.codpost, {label: 'entrez le code postal de votre adresse  '}) }}
        {{ form_row(registrationForm.ville, {label: 'entrez la ville de votre adresse  '}) }}
                
        {{ form_row(registrationForm.email, {label: 'saisissez votre adresse mail  '}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'saisissez un Mot de Passe  '}) }}
        {{ form_row(registrationForm.agreeTerms, {label: 'vous acceptez les C.G.U. du site '}) }}
        <br></br> 
        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
             {{ form_end(registrationForm) }}
        </div>
    </div>    
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-error" role="alert">{{ flashError }}</div>
    {% endfor %}

    
    {# ajout des champs des propriétés utilisateurs 
       les form_row comprennent le texte du champs label 
       et affichage d'erreurs et champs de saisie widgets
       et affichage des aides help #}
 

{% endblock %}
