  {# copie du code source de la présentation 
    de la barre de navigation de bootstrap exemple sm#}
  
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('accueil') }}"> METHACOOP </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('propos') }}">A PROPOS DU SITE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('actus') }}">ACTUALITÉS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('docus') }}" >DOCUMENTATIONS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">MENU</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">         
              <li><a class="dropdown-item" href="{{ path('app_depotsvue_index') }}"> LISTE DES DOCUMENTATIONS DÉPOSÉES PAR LES MEMBRES></a></li>
              <li><a class="dropdown-item" href="{{ path('app_login') }}">ESPACE MEMBRES</a></li>
            </ul>
          </li>
        </ul>
       </div>
    </div>
  </nav>