{% extends 'base.html.twig' %}

{% block title %}Gestion Détail Actualité {% endblock %}

{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: grey; padding: 2px 6px; }
    </style>
    <h1>{{ new.newstit }}</h1>
    <br>
       <p>{{ new.newscont }}</p> 
       <p>Ajoutée il y a {{ new.createdAt|ago }} </p> 
    </br>
     <form action="{{ path('app_admin_gesactus_supp',{id: new.id}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Suppression de cette Actualité"> 
    </form><br>
    <br>
    <a href="{{ path('app_admin_gesactus')}}">retour gestion liste des actualités</a><br>
    <a href="{{ path('app_admin')}}">retour espace administrateur</a>
{% endblock %}