{% extends 'base.html.twig' %}

{% block title %}Ajout DOCUMENTATION {% endblock %}

{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: grey; padding: 2px 6px; }
    </style>
    <h1>AJOUTER UNE DOCUMENTATION</h1>
    <br>
       {{ form_start(docuform) }} 
        {{ form_widget(docuform) }}
        <input type="submit" value="Validation de la Création"> 
       {{ form_end(docuform) }} 
    </br>
    <a href="{{ path('app_admin')}}">retour espace administrateur</a>
    <a href="{{ path('accueil')}}">retour accueil</a>
{% endblock %}