{% extends 'base.html.twig' %}

{% block title %}Ajout DEPÔT {% endblock %}

{% block body %}
    <style>
    
    </style>
    <h1>DÉPOSER VOTRE AVIS ET DOCUMENTATION</h1>
    <br>
    <div class="row">
        <div class="col-md-10 mx-auto">
       {{ form_start(depotform) }} 
        {{ form_widget(depotform) }}
        <br></br> 
        <input type="submit" value="Validation de la Création" class="btn btn-primary btn-block"> 
       {{ form_end(depotform) }} 
    <br></br>
        </div>
        <div class="col-md-10 mx-auto">
           <a href="{{ path('app_admin')}}">retour espace administrateur</a>
            <a href="{{ path('accueil')}}">retour accueil</a>
        </div>
    </div>

{% endblock %}