{% extends 'base.html.twig' %}

{% block title %}Gestion Détail Membre {% endblock %}

{% block body %}
    <style>
    
    </style>
    <h1>nom ou raison sociale : {{ util.nom }}</h1>
    
    <br>
    <div class="row">
        <div class="col-md-10 mx-auto">
           
            <p>prénom ou numéro siret  : {{ util.prenom }}</p>
            <p>numéro de voie adresse : {{ util.numvoie }}</p>
            <p>type de voie adresse : {{ util.typvoie }}</p>
            <p>nom de la voie adresse : {{ util.voienom}}</p>
            <p>code postal adresse : {{ util.codpost }}</p>
             <p>ville adresse  : {{ util.ville }}</p><br>
            <p>nombre de dépôts : {{ util.nbdepot}}</p><br>              
             <p> adresse mail : {{ util.email}}</p><br>
             <p>Créé le {{ util.createdAt|date('d-m-Y') }} </p>
            <p>Mot de Passe  : {{ util.password }}</p> 
             <br>
        </div>
        <div class="col-md-4 mx-auto">
           
             <a href="{{ path('app_admin_gesusers_maj', {id: util.id})}}">  mise à jour du membre</a>
        </div>
        <br></br>
        <div class="col-md-2 mx-auto">
           
        <form action="{{ path('app_admin_gesusers_supp',{id: util.id}) }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Suppression" class="btn btn-primary btn-block"> 
        </form><br>
        <br>
        </div>
        <div class="col-md-10 mx-auto">
           
            <a href="{{ path('app_admin_gesusers')}}">retour gestion liste des membres</a><br>
            <a href="{{ path('app_admin')}}">retour espace administrateur</a>
        </div>
    </div>
{% endblock %}