{% extends 'base.html.twig' %}

{% block title %}Détail Dépôt Vue {% endblock %}

{% block body %}
    <style>
    </style>
<div class="row">
    <div class="col-md-10 mx-auto">
        <br>
        <h1>{{ depot.depotit }}</h1>
        <br>
       <p>{{ depot.depoavis }}</p> 
       <p>Créé il y a {{ depot.createdAt|ago }} </p> 
        <p>Mis à jour il y a {{ depot.updatedAt|ago }} </p> 
        <br>
        <img src="{{ (depot.imageName ? vich_uploader_asset(depot) : asset('build/
        images/placeholder.jpg')) }} ">
        <br></br>
      
        <br>
        <a href="{{ path('app_depotsvue_index')}}">retour liste des documentations déposées par les membres</a><br>
        <br>
        <br></br>
        
    </div>
</div>    
    {% endblock %}